.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

# vscode settings
.vscode
# github settings
.github
# circleci settings
.circleci

# src files
**/*.ts
# not type files
!**/*.d.ts
